/* 這個是 tailwindcss 的主檔案，pnpm run tailwind 會根據使用這個 css 的組件，自動編譯大小。 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

textarea {
    border-style: none;
    border-color: Transparent;
    outline: none;
    resize: none;
}

html,
body {
    height: 100%; /* 確保根元素高度一致 */
    overflow: hidden; /* 防止多餘滾動，否則切換到歷史聊天紀錄後再輸入新的訊息，側邊欄就可以滾動到很下面。 */
}
