textarea {
    border-style: none;
    border-color: Transparent;
    outline: none;
    resize: none;
}

.scale-animation {
    transition: transform 200ms, opacity 200ms;
}

.scale-off {
    transform: scale(0);
    opacity: 0;
}

.scale-on {
    transform: scale(1);
    opacity: 1;
}